<p>
  humans-with-cars works!
</p>
<div>Most newer car bought in year {{MaxCarYear}}</div>
<div>Featured HumanWithCar 
  {{FeaturedHumanWithCar?.first_name}}
  {{FeaturedHumanWithCar?.last_name}}
  {{FeaturedHumanWithCar?.carmodel}}
  {{FeaturedHumanWithCar?.caryear}}
</div>
<div *ngIf="loading">
  Loading...
</div>
<div *ngIf="error">
  Error :(
</div>
<div *ngIf="ids">
  Humans With Cars
  <select [(ngModel)]="selectedId" (ngModelChange)="select($event)">
    <option *ngFor="let id of ids" id="{{id.id}}">{{id.id}}</option>
  </select>
  <div *ngIf="humanwithcar">
    <button (click)=increment()>INCREMENTA AÑO</button>
    {{humanwithcar}}
  </div>
</div>
